@using Entity
@model List<Product>


@{
    ViewData["Title"] = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


   <!-- slider-area-start  -->
      <section class="page__title-area page__title-height page__title-overlay d-flex align-items-center" data-background="https://mlefouu0vzdb.i.optimole.com/t95KKjs-9_VVC1zu/w:1200/h:600/q:mauto/rt:fill/g:ce/https://www.realgold.com.tr/wp-content/uploads/2019/08/IMG_0115.jpg">
         <div class="container">
            <div class="row">
               <div class="col-xxl-12">
                  <div class="page__title-wrapper mt-100">                  
           
                     <h3 class="page__title mt-20">Ürünlerimiz</h3>      
                  </div>
               </div>
            </div>
         </div>
      </section>



<section id="main-container" class="portfolio-area pt-150 pb-170">
    <div class="container px-4">
        <div class="row">
            <p class="d-none">
                <a href="../../Product.html">Back to List</a>
            </p>
            <div class="col-lg-12">
                <div class="title-card">
                    @foreach (var item in Model)
                    {
                        <h2 class="column-title mrt-0">@item.ProductName</h2>
                    }


                </div>
            </div>
        </div>
        


        <div class="row align-content-lg-stretch">
            <div class="col-lg-6">
                <div id="page-slider" class=" w-img" style="">
                    <div class="item">


                        @foreach (var item in Model)
                        {
                            <img loading="lazy" class="img-fluid" src="~/images/@item.ImgPath" alt="Çift Kollu Sandalye Mekanizması-image | <h2 style=&quot;box-sizing: border-box; margin: 6px 0px 15px; padding: 0px; border: none; outline: none; font-size: 30px; font-family: var(--font-family-oswald); font-weight: 600; color: rgb(39, 40, 44); position: relative; background-image: none; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; text-transform: capitalize;&quot;>&amp;Ccedil;ift Kollu Sandalye Mekanizması</h2>


">

                        }



                    </div>
                </div><!-- Page slider end -->
            </div><!-- Slider col end -->

            <div class="col-lg-6 product-feature">

                <div class="card table table-striped" style="width: 100%; height:500px;">
                    <div class="card-body">
                        <div class="title-card">
                            <h2 class="column-title mrt-0">&#220;r&#252;n Detay</h2>

                        </div>
                        @foreach (var item in Model)
                        {
                            <h5 class="card-title">@item.ProductName</h5>

                            <h2 style="box-sizing: border-box; margin: 6px 0px 15px; padding: 0px; border: none; outline: none; font-size: 30px; font-family: var(--font-family-oswald); font-weight: 600; color: rgb(39, 40, 44); position: relative; background-image: none; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; text-transform: capitalize;">@item.ProductName</h2>

                        }

                        <table  class="table table-striped">
                            <thead>
                                <tr>
                                    <th  colspan="2">Detaylar | Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <td>Ürün İsmi / Product Name :</td>
                                        <td>@item.Metarial</td>
                                    </tr>
                                   
                                    <tr>
                                        <td>Kaplama Türü / Coating Type :</td>
                                        <td>@item.TotalWeight</td>
                                    </tr>
                                    <tr>
                                        <td>Ölçüler  /  Dimensions : </td>
                                        <td>@item.Dimensions</td>
                                    </tr>
                                  
                                }

                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div><!-- Conatiner end -->
</section><!-- Main container end -->
