@*


<section class="services-area grey-bg-5 pt-120 pb-115 fix">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="single-services swiper-slide swiper-slide-duplicate-next" data-swiper-slide-index="0" role="group" aria-label="4 / 9" style="width: 615.533px; margin-right: 70px;">

                    <div class="section__wrapper mb-35 ">
                        <h4 class="section__title">Services </h4>
                        <div class="r-text">
                            <span>Metalize </span>
                        </div>
                    </div>
                    <p class="sm-text mb-45 ">
                        For our company, the satisfaction of the customers and the quality of the products are always in the first place.
                        In this context, our company produces its products with quality materials and presents them to its customers by showing
                        the necessary sensitivity. Our company works with devotion without sacrificing quality at any time and in any way. Not only
                        quality machines are behind a quality printing service; There is also expertise and experience. The name of this experience and 
                        expertise is Halle metalize. You can find detailed information about all our products, which are extremely
                        durable with their Halle printing quality, as a result of the comprehensive examinations you will make on our website..
                    </p>
                    <style>
                        .mb-45 {
                            margin-bottom: -554px;
                        }
                    </style>

                </div>
                <div class="ab-button mb-30">
                    <a href="about.html" class="tp-btn-ts">Daha Fazla <i class="fal fa-angle-right"></i></a>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="services__slider swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
                    <div class="services__wrapper swiper-wrapper" id="swiper-wrapper-fac9106f1074a1072c3" aria-live="off" style="transition-duration: 0ms; transform: translate3d(-1381.33px, 0px, 0px);">
                        <div class="single-services swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="0" role="group" aria-label="1 / 9" style="width: 315.333px; margin-right: 30px;">
                            <h5>Strategy</h5>
                            <div class="services-list pb-10">
                                <ul>
                                    <li><span>Aptitude for Technology</span></li>
                                    <li><span>Attention to Detail</span></li>
                                    <li><span>Strong Communication</span></li>
                                    <li><span>Market Assesment</span></li>
                                    <li><span>Quallity Guarantee</span></li>
                                </ul>
                            </div>
                            <div class="sr-button">
                                <a href="services-details.html">Read More</a>
                            </div>
                        </div><div class="single-services swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="1" role="group" aria-label="2 / 9" style="width: 315.333px; margin-right: 30px;">
                            <h5>Assesment</h5>
                            <div class="services-list pb-10">
                                <ul>
                                    <li><span>Quallity Guarantee</span></li>
                                    <li><span>Market Assesment</span></li>
                                    <li><span>Strong Communication</span></li>
                                    <li><span>Attention to Detail</span></li>
                                    <li><span>Aptitude for Technology</span></li>
                                </ul>
                            </div>
                            <div class="sr-button">
                                <a href="services-details.html">Read More</a>
                            </div>
                        </div><div class="single-services swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="2" role="group" aria-label="3 / 9" style="width: 315.333px; margin-right: 30px;">
                            <h5>Development</h5>
                            <div class="services-list pb-10">
                                <ul>
                                    <li><span>Strong Communicatione</span></li>
                                    <li><span>Quallity Guarantee</span></li>
                                    <li><span>Aptitude for Technology</span></li>
                                    <li><span>Market Assesment</span></li>
                                    <li><span>Attention to Detail</span></li>
                                </ul>
                            </div>
                            <div class="sr-button">
                                <a href="services-details.html">Read More</a>
                            </div>
                        </div>
                        @foreach (var item in Model)
                        {
                            <div class="single-services swiper-slide swiper-slide-duplicate-next" data-swiper-slide-index="0" role="group" aria-label="4 / 9" style="width: 315.333px; margin-right: 30px;">
                                <h5>@item.CategoryNameEng</h5>
                                <div class="services-list pb-10">
                                    <ul>
                                        <li><span>@item.CategoryDescEng</span></li>

                                    </ul>
                                </div>
                                <div class="sr-button">
                                    <a href="services-details.html">Read More</a>
                                </div>
                            </div>

                        }



                    </div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
            </div>
        </div>
    </div>
</section>*@
@using Entity
@model List<Category>

@*@*<section class="services-area grey-bg-5 pt-120 pb-115 fix">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
              @*  *@
                @*<div style="--bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));" class="section__wrapper mb-30 single-services swiper-slide swiper-slide-duplicate swiper-slide-next" data-swiper-slide-index="0" role="group" aria-label="7 / 9" style="width: 515.533px; margin-right: 30px;">
                    
                    <h4 class="section__title">Hizmetlerimiz</h4>
                    <div class="r-text">
                        <span>Metalize</span>
                    </div>
                    <div class="services-list pb-20">
                        <ul>
                            <li><span>Firmamız için müşterilerin memnuniyeti ve ürünlerin kalitesi her zaman ilk sırada yer almaktadır. Bu bağlamda, firmamız ürünlerini kaliteli malzemeler ile üretmekte olup ürünleri gereken hassasiyeti göstererek müşterilerine sunmaktadır. Firmamız, kaliteden hiçbir zaman ve hiçbir şekilde ödün vermeden özveri ile çalışmaktadır. Kaliteli bir baskı hizmetinin arkasında yalnızca kaliteli makineler yer almamakta; aynı zamanda uzmanlık ve tecrübe bulunmaktadır. Bu tecrübe ve uzmanlığın adı ise halle metalizedir . Halle Metalize kalitesiyle son derece dayanıklı olan tüm ürünlerimiz hakkında detaylı bilgiye sitemizde yapacağınız kapsamlı incelemeler sonucu ulaşabilirsiniz</span></li>
                            
                        </ul>
                    </div>
                    
                    <div class="ab-button mb-30 ">
                        <a href="/OurService/Index" class="tp-btn-ts border border-2">Daha Fazla<i class="fal fa-angle-right"></i></a>
                    </div>
                </div>

              
            </div>
            <div class="col-xl-6">
                <div class="services__slider swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
                    <div class="services__wrapper swiper-wrapper" id="swiper-wrapper-77f1ca713cb72232" aria-live="off" style="transition-duration: 0ms; transform: translate3d(-1726.67px, 0px, 0px);">
                        <div class="single-services swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0" role="group" aria-label="1 / 9" style="width: 315.333px; margin-right: 30px;">
                        </div>

                        <div class="single-services swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="1" role="group" aria-label="2 / 9" style="width: 315.333px; margin-right: 30px;">
                            <h5>item.CategoryName</h5>
                            <div class="services-list pb-10">
                                <ul>
                                    <li><span> item.CategoryDesc</span></li>

                                </ul>
                            </div>
                            <div class="sr-button">
                                <a href="services-details.html">Read More</a>
                            </div>
                        </div>



                        <div class="single-services swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="2" role="group" aria-label="3 / 9" style="width: 315.333px; margin-right: 30px;">
                            <h5>item.CategoryName</h5>
                            <div class="services-list pb-10">
                                <ul>
                                    <li><span>Strong Communicatione</span></li>
                                    <li><span>Quallity Guarantee</span></li>
                                    <li><span>Aptitude for Technology</span></li>
                                    <li><span>Market Assesment</span></li>
                                    <li><span>Attention to Detail</span></li>
                                </ul>
                            </div>
                            <div class="sr-button">
                                <a href="services-details.html">Read More</a>
                            </div>
                        </div>


                        @foreach (var item in Model)
                        {
                            <div class="single-services swiper-slide swiper-slide-duplicate-next" data-swiper-slide-index="0" role="group" aria-label="4 / 9" style="width: 315.333px; margin-right: 30px;">
                                <h5>@item.CategoryName</h5>
                                <div class="services-list pb-10">
                                    <ul>
                                        <li><span>@item.CategoryDesc<span></li>

                                    </ul>
                                </div>
                                <div class="sr-button">
                                    <a src="https://www.whatsapp.com/?lang=tr">Hizmetler</a>
                            </div>
                        </div>

                        }

                        <div class="single-services swiper-slide swiper-slide-duplicate swiper-slide-next" data-swiper-slide-index="0" role="group" aria-label="7 / 9" style="width: 315.333px; margin-right: 30px;">
                                <h5>Strategy</h5>
                                <div class="services-list pb-10">
                                    <ul>
                                        <li><span>Aptitude for Technology</span></li>
                                        <li><span>Attention to Detail</span></li>
                                        <li><span>Strong Communication</span></li>
                                        <li><span>Market Assesment</span></li>
                                        <li><span>Quallity Guarantee</span></li>
                                    </ul>
                                </div>
                                <div class="sr-button">
                                    <a href="services-details.html">Read More</a>
                                </div>
                            </div><div class="single-services swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="1" role="group" aria-label="8 / 9" style="width: 315.333px; margin-right: 30px;">
                                <h5>Assesment</h5>
                                <div class="services-list pb-10">
                                    <ul>
                                        <li><span>Quallity Guarantee</span></li>
                                        <li><span>Market Assesment</span></li>
                                        <li><span>Strong Communication</span></li>
                                        <li><span>Attention to Detail</span></li>
                                        <li><span>Aptitude for Technology</span></li>
                                    </ul>
                                </div>
                                <div class="sr-button">
                                    <a href="services-details.html">Read More</a>
                                </div>
                            </div><div class="single-services swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="2" role="group" aria-label="9 / 9" style="width: 315.333px; margin-right: 30px;">
                                <h5>Development</h5>
                                <div class="services-list pb-10">
                                    <ul>
                                        <li><span>Strong Communicatione</span></li>
                                        <li><span>Quallity Guarantee</span></li>
                                        <li><span>Aptitude for Technology</span></li>
                                        <li><span>Market Assesment</span></li>
                                        <li><span>Attention to Detail</span></li>
                                    </ul>
                                </div>
                                <div class="sr-button">
                                    <a href="services-details.html">Read More</a>
                                </div>
                            </div>
                        </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
<section class="services-area grey-bg-5 pt-120 pb-115 fix">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="single-services swiper-slide swiper-slide-duplicate-next" data-swiper-slide-index="0" role="group" aria-label="4 / 9" style="width: 615.533px; margin-right: 70px;">
                   
                    <div class="section__wrapper mb-35 ">
                        <h4 class="section__title" >Services </h4>
                        <div class="r-text">
                            <span>Metaliz </span>
                        </div>
                    </div>
                    <p >For our company, the satisfaction of the customers and the quality of the products are always in the first place.
                        In this context, our company produces its products with quality materials and presents them to its customers by showing
                        the necessary sensitivity. Our company works with devotion without sacrificing quality at any time and in any way. Not only
                        quality machines are behind a quality printing service; There is also expertise and experience. The name of this experience and 
                        expertise is Halle metalize.
                    </p>
                  @*  <style>
                                                .sm-text .mb-45 {
                            margin-bottom: -554px;
                        }
                    </style>*@
                    
                </div>
                <div class="ab-button mb-30">
                    <a href="/About/Index" class="tp-btn-ts">More <i class="fal fa-angle-right"></i></a>
                </div>
            </div>
           
            <div class="col-xl-6">
                <div class="services__slider swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
                    <div class="services__wrapper swiper-wrapper" id="swiper-wrapper-fac9106f1074a1072c3" aria-live="off" style="transition-duration: 0ms; transform: translate3d(-1381.33px, 0px, 0px);">
                        <div class="single-services swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="0" role="group" aria-label="1 / 9" style="width: 315.333px; margin-right: 30px;">
                            <h5>Strategy</h5>
                            <div class="services-list pb-10">
                                <ul>
                                    <li><span>Aptitude for Technology</span></li>
                                    <li><span>Attention to Detail</span></li>
                                    <li><span>Strong Communication</span></li>
                                    <li><span>Market Assesment</span></li>
                                    <li><span>Quallity Guarantee</span></li>
                                </ul>
                            </div>
                            <div class="sr-button">
                                <a href="services-details.html">Read More</a>
                            </div>
                        </div><div class="single-services swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="1" role="group" aria-label="2 / 9" style="width: 315.333px; margin-right: 30px;">
                            <h5>Assesment</h5>
                            <div class="services-list pb-10">
                                <ul>
                                    <li><span>Quallity Guarantee</span></li>
                                    <li><span>Market Assesment</span></li>
                                    <li><span>Strong Communication</span></li>
                                    <li><span>Attention to Detail</span></li>
                                    <li><span>Aptitude for Technology</span></li>
                                </ul>
                            </div>
                            <div class="sr-button">
                                <a href="services-details.html">Read More</a>
                            </div>
                        </div><div class="single-services swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="2" role="group" aria-label="3 / 9" style="width: 315.333px; margin-right: 30px;">
                            <h5>Development</h5>
                            <div class="services-list pb-10">
                                <ul>
                                    <li><span>Strong Communicatione</span></li>
                                    <li><span>Quallity Guarantee</span></li>
                                    <li><span>Aptitude for Technology</span></li>
                                    <li><span>Market Assesment</span></li>
                                    <li><span>Attention to Detail</span></li>
                                </ul>
                            </div>
                            <div class="sr-button">
                                <a href="services-details.html">Read More</a>
                            </div>
                        </div>
                       @foreach (var item in Model)
                        {
                            <div class="single-services swiper-slide swiper-slide-duplicate-next" data-swiper-slide-index="0" role="group" aria-label="4 / 9" style="width: 315.333px; margin-right: 30px;">
                                <h5>@item.CategoryNameEng</h5>
                                <div class="services-list pb-10">
                                    <ul>
                                        <li><span>@item.CategoryDescEng</span></li>

                                    </ul>
                                </div>
                                <div class="sr-button">
                                    <a href="services-details.html">Read More</a>
                                </div>
                            </div>

                        }
                       
                    
                        
                    </div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
            </div>
        </div>
    </div>
</section>
